APP_BUILD_CONTEXT=./app
DB_BUILD_CONTEXT=./db
APP_HOST_PORT=3000
PORT=3000
DB_HOST=db
DB_PORT=5432
DB_USER=user
DB_PASSWORD=password
DB_NAME=todo
POSTGRES_DB=todo
POSTGRES_USER=user
POSTGRES_PASSWORD=password
